<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.sysconf.dao.SysBankDao">

	<resultMap type="SysBank" id="sysBankMap">
		<id column="id" property="id"/>
		<result column="bank_code" property="bankCode"/>
		<result column="bank_name" property="bankName"/>
		<result column="icon" property="icon"/>
		<result column="sort" property="sort"/>
		<result column="usable" property="usable"/>
	</resultMap>

	<select id="getUsable" resultMap="sysBankMap">
		SELECT * FROM sys_bank t WHERE t.usable = 1 ORDER BY t.sort, t.bank_name DESC
	</select>

	<select id="getByCode" resultMap="sysBankMap">
		SELECT * FROM sys_bank t WHERE t.bank_code = #{bankCode}
	</select>

</mapper>